<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zivy009.demo.springbootshirodwz.persistence.dao.MultiPrimaryMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zivy009.demo.springbootshirodwz.persistence.model.MultiPrimary">
		<id column="id" property="id" />
		<result column="treat_course_id" property="treatCourseId" />
		<result column="primary" property="primary" />
		<result column="bodypart" property="bodypart" />
		<result column="diagnosis_date" property="diagnosisDate" />
		<result column="status" property="status" />

		<result column="created_at" property="createdAt" />
		<result column="created_by" property="createdBy" />
		<result column="updated_at" property="updatedAt" />
		<result column="updated_by" property="updatedBy" />
	</resultMap>

</mapper>
