<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zivy009.demo.springbootshirodwz.persistence.dao.PatientMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zivy009.demo.springbootshirodwz.persistence.model.Patient">
		<id column="id" property="id" />
		<result column="inpatient_id" property="inpatientId" />
		<result column="outpatient_id" property="outpatientId" />
		<result column="patient_name" property="patientName" />
		<result column="pinyin" property="pinyin" />
		<result column="address" property="address" />
		<result column="gender" property="gender" />
		<result column="birth_date" property="birthDate" />
		<result column="national_id" property="nationalId" />
		<result column="telephone" property="telephone" />
		<result column="telephone2" property="telephone2" />
		<result column="smoker" property="smoker" />
		<result column="status" property="status" />
		<result column="patient_id1" property="patientId1" />
		<result column="patient_id2" property="patientId2" />
		<result column="patient_id3" property="patientId3" />
		<result column="patient_id4" property="patientId4" />
		<result column="bz1" property="bz1" />
		<result column="bz2" property="bz2" />
		<result column="bz3" property="bz3" />
		<result column="bz4" property="bz4" />
		<result column="bz5" property="bz5" />
		<result column="created_at" property="createdAt" />
		<result column="created_by" property="createdBy" />
		<result column="updated_at" property="updatedAt" />
		<result column="updated_by" property="updatedBy" />
		<result column="deleted_at" property="deletedAt" />
		<result column="deleted_by" property="deletedBy" />
	</resultMap>

</mapper>
