<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zivy009.demo.springbootshirodwz.persistence.dao.PractitionerMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zivy009.demo.springbootshirodwz.persistence.model.Practitioner">
		<id column="id" property="id" />
		<result column="practitioner_id" property="practitionerId" />
		<result column="practitioner_name" property="practitionerName" />
		<result column="role" property="role" />
		<result column="telephone" property="telephone" />
		<result column="status" property="status" />
	</resultMap>

</mapper>
